<?xml version="1.0"?>
<config>
    <modules>
        <Oddbrew_MailViewer>
            <version>0.1.0</version>
        </Oddbrew_MailViewer>
    </modules>
    <global>
        <helpers>
            <oddbrew_mailviewer>
                <class>Oddbrew_MailViewer_Helper</class>
            </oddbrew_mailviewer>
        </helpers>
        <models>
            <oddbrew_mailviewer>
                <class>Oddbrew_MailViewer_Model</class>
            </oddbrew_mailviewer>
        </models>
    </global>
</config>