<?xml version="1.0"?>
<!--
/*
BSD 3-Clause License

Copyright (c) 2018, Alexandre Fayette
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

 * Redistributions of source code must retain the above copyright notice, this
list of conditions and the following disclaimer.

 * Redistributions in binary form must reproduce the above copyright notice,
this list of conditions and the following disclaimer in the documentation
and/or other materials provided with the distribution.

 * Neither the name of the copyright holder nor the names of its
contributors may be used to endorse or promote products derived from
this software without specific prior written permission.

 * Redistributions in any form must not change the Oddbrew_MailViewer namespace,
and the module name must remain Oddbrew_MailViewer.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */
 -->
<config>
    <modules>
        <Oddbrew_MailViewer>
            <version>1.0.0</version>
        </Oddbrew_MailViewer>
    </modules>
    <global>
        <helpers>
            <oddbrew_mailviewer>
                <class>Oddbrew_MailViewer_Helper</class>
            </oddbrew_mailviewer>
        </helpers>
        <models>
            <oddbrew_mailviewer>
                <class>Oddbrew_MailViewer_Model</class>
            </oddbrew_mailviewer>
        </models>
        <blocks>
            <oddbrew_mailviewer>
                <class>Oddbrew_MailViewer_Block</class>
            </oddbrew_mailviewer>
        </blocks>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Oddbrew_MailViewer>
                    <files>
                        <default>Oddbrew_MailViewer.csv</default>
                    </files>
                </Oddbrew_MailViewer>
            </modules>
        </translate>
        <events>
            <controller_action_layout_render_before_adminhtml_sales_order_view>
                <observers>
                    <oddbrew_mailviewer_add_button_order_view>
                        <class>oddbrew_mailviewer/observer</class>
                        <method>controllerActionLayoutRenderBeforeAdminhtmlSalesOrderView</method>
                        <type>singleton</type>
                    </oddbrew_mailviewer_add_button_order_view>
                </observers>
            </controller_action_layout_render_before_adminhtml_sales_order_view>
            <controller_action_layout_render_before_adminhtml_customer_edit>
                <observers>
                    <oddbrew_mailviewer_add_mail_grid_to_customer_details>
                        <class>oddbrew_mailviewer/observer</class>
                        <method>controllerActionLayoutRenderBeforeAdminhtmlCustomerEdit</method>
                        <type>singleton</type>
                    </oddbrew_mailviewer_add_mail_grid_to_customer_details>
                </observers>
            </controller_action_layout_render_before_adminhtml_customer_edit>
            <adminhtml_block_html_before>
                <observers>
                    <oddbrew_mailviewer_add_order_grid_buttons>
                        <class>oddbrew_mailviewer/observer</class>
                        <method>adminhtmlBlockHtmlBefore</method>
                        <type>singleton</type>
                    </oddbrew_mailviewer_add_order_grid_buttons>
                </observers>
            </adminhtml_block_html_before>
        </events>
        <layout>
            <updates>
                <oddbrew_mailviewer>
                    <file>oddbrew_mailviewer/mailviewer.xml</file>
                </oddbrew_mailviewer>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <oddbrew_mailviewer after="Mage_Adminhtml">Oddbrew_MailViewer_Adminhtml</oddbrew_mailviewer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>